* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 33);
  /* background: #020024;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%); */
  color: white;
  font-family: "Poppins", sans-serif;
}
header {
  background-color: rgb(19, 19, 92);
  border-radius: 5px;
  margin: 0 30px;
}
nav {
  display: flex;
  justify-content: SPACE-AROUND;
  align-items: center;
  margin: 20px;
  height: 50px;
}
.left {
  text-align: left;
  font-size: 1.5rem;
  margin-right: 250px;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}

@media screen and (max-width: 450px) {
  nav .right {
    display: none;
  }

  nav .left{
    font-size: medium;
    margin-right: 0px;
  }
}


.firstSection {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.firstSection div {
  width: 40%;
}
.leftSection {
  margin-top: 200px;
}
a {
  text-decoration: none;
  color: white;
}
li a:hover {
  text-decoration: none;
  color: rgb(191, 123, 255);
  font-size: 1.02rem;
}
.purple {
  color: rgb(191, 123, 255);
}
p {
  background-color: black;
  border-radius: 5px;
}

@media screen and (max-width: 450px) {
  .firstSection{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
  }
  
  .firstSection div {
    width: 70%;
  }

  .firstSection h2{
    font-size: large;
  }

  .firstSection h3{
    font-size: medium;
  }
  .firstSection h4{
    font-size: medium;
  }

  img{
    height: 300px;
    width: 300px;
  }
  .leftSection{
    margin-top: 0px;
  }

  nav .left{
    font-size: medium;
    margin-right: 0px;
  }
}

.secondSection {
  display: block;
  justify-content: space-around;
  margin: 30px;
}
.secondSection p {
  /* margin: 10px; */
  padding: 25px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(4, 4, 63) 35%
  );
}

@media screen and (max-width : 450px){
  .secondSection p{
    font-size: small;
  }
  
}
.thirdSection {
  display: block;
  justify-content: space-around;
  margin: 30px;
}
.thirdSection .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}
.thirdSection .container .card {
  padding: 25px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(4, 4, 63) 35%
  );
  border-radius: 5px;
  margin: 5px;
  width: 40%;
}
.thirdSection .container .card p {
  background-color: inherit;
  padding-bottom: 6px;
  font-size: larger;
  font-weight: bold;
}

@media screen and (max-width:450px) {

  .thirdSection .container .card {
    width: 30%;
    font-size: x-small;
  }
}

.fourthSection {
  display: block;
  justify-content: space-around;
  margin: 30px;
}
.fourthSection .container {
  display: block;
  justify-content: space-around;
}
.fourthSection .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.fourthSection .container .card {
  padding: 25px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(4, 4, 63) 35%
  );
  border-radius: 5px;
  margin: 5px;
  width: 25%;
}
.fourthSection .container .card p {
  background-color: inherit;
  padding-bottom: 10px;
  font-size: larger;
  font-weight: bold;
}

@media screen and (max-width:450px){
  .fourthSection .container .card{
    width: 30%;
    font-size: x-small;
  }
}

.fifthSection{
  display: block;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
}

.fifthSection .container .social{
    background-color: inherit;
    padding-bottom: 6px;
}
.fifthSection .container .contactform{
    background-color: inherit;
    padding-bottom: 6px;
}


form{
  width: 50%;
  display: block;
  justify-content: left;
  border: 3px solid;
  border-color: rgb(191, 123, 255);
  padding: 20px;
  border-radius: 10px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-field{
  margin: 10px;
}

.fs-description{
  background-color: inherit;
  margin-top: 3px;
  font-size: small;
}

.fs-label{
  margin-bottom: 6px;
}

.fs-input{
  width: 100%;
  height: 25px;
}

.fs-textarea{
  width: 100%;
  height: 60px;
}

.fs-button-group{
  display: flex;
  justify-content: right;
  align-items: right;
  margin-right: 90px;
}

.fs-button{
  background-color:  rgb(58, 17, 97);
  color: white;
  font-family: monospace;
  padding: 4px;
  border-radius: 8px;
  border: 2px dashed ;
}

.fs-button:hover{
  background-color: chartreuse;
  color: black;
}

@media screen and (max-width:450px){
  form{
    font-size: medium;
  }

  .fs-label{
    font-size: small;
  }

  .fs-description{
    background-color: inherit;
    margin-top: 3px;
    font-size: 18%;
  }

  .fs-button-group{
    margin-right: 30px;
    font-size: smaller;
  }
}